doctype html
html
   head
      title Error
      link(rel="stylesheet", href="styles/style.css")
   body
      main 
        h1 Error! 404 not found
        img(src="https://seranking.com/blog/wp-content/uploads/2021/01/404_01-min.jpg", alt="gato404")
        a(href="/") Volver 